/* Register Page Styles */
.registerWrapper {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 80px;
}

/* Registration box */
.registerBox {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px; /* Slightly more rounded corners */
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1); /* Deeper shadow for a more modern effect */
  text-align: center;
  max-width: 500px;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Title and subtitle */
.title {
  font-size: 32px; /* Larger title */
  font-weight: 700;
  color: #333; /* Darker color for better contrast */
  margin-bottom: 15px;
}

.subtitle {
  font-size: 18px;
  color: #6c6c6c; /* Softened color for subtitle */
  margin-bottom: 30px;
}

/* Form inputs */
.registerForm {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between form fields */
}

/* Input fields */
.inputField {
  padding: 15px;
  border: 2px solid #ddd;
  outline: none;
  border-radius: 3px; /* Slightly more rounded */
  font-size: 16px;
  color: #333;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.inputField:focus {
  border-color: #FB2E86; /* Highlight border color on focus */
  box-shadow: 0 0 8px rgba(251, 46, 134, 0.4); /* Glow effect on focus */
}

/* Change placeholder text color */
.inputField::placeholder {
  color: #aaa; /* Softer placeholder color */
  opacity: 1;
}

/* Register button */
.registerButton {
  padding: 16px;
  background-color: #FB2E86;
  color: #fff;
  border: none;
  border-radius: 8px; /* Rounded corners for the button */
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.registerButton:hover {
  background-color: #fc1176; /* Slightly darker shade on hover */
}



/* Login link */
.loginLink {
  margin-top: 30px;
  font-size: 16px;
  color: #6c6c6c; /* Softened color for login text */
}

.loginLink a {
  text-decoration: none;
  color: #FB2E86; /* Highlighted link color */
  font-weight: 600; /* Slightly bolder link text */
}

.loginLink a:hover {
  text-decoration: underline;
  color: #fc1176; /* Darker color on hover */
}
