
.clientSayWrap{
    background-color: #FBFBFF;
    margin: 80px 0 300px 0;
}
.clientSay {
    max-width: 1440px;
    text-align: center;
    margin: auto;
    padding: 80px 20px;
    font-family: "Josefin Sans", sans-serif;
    color: #151875;
  }
  
  /* Heading */
  .heading {
    font-size: 3rem;
    margin-bottom: 80px;
    color: #000000;
  }
  /* Image Container */
  .imageContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
  }
  
  /* Image Styling - Square Shape */
  .image {
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .activeImage {
    transform: scale(1.2); /* Enlarge the active image */
    opacity: 1;
  }
  
  /* Testimonial Content */
  .testimonialContent {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .name {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .company {
    font-size: 1rem;
    color: #8a8fb9;
    margin-bottom: 20px;
  }
  
  .review {
    font-size: 1.2rem;
    color: #1a0b5b4d;
    margin-bottom: 50px;
    line-height: 1.5;
  }
  
  /* Line Container */
  .lineContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
  }
  
  .line {
    width: 30px;
    height: 5px;
    background-color: #FF75B0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .activeLine {
    background-color: #FB2E86;
  }
  