/* Default container for icons */
.icons {
 
}

/* Default icon wrapper */
.iconWrapper {
  width: 35px;
  height: 35px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

/* Hover effect */
.iconWrapper:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

/* Default icon image */
.iconWrapper img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

/* Default styles for specific icons */
.cartIcon {
}

.wishlistIcon {
}

.detailsIcon {
}
